.server-info-wrapper {
	max-width: 100vw;
}

.monitoring-wrapper {
	display: -webkit-flex;
	display: flex;
	position: left;
	max-width: 50%;
	min-width: 50%;
}

.monitoring-wrapper > input {
	flex: 1 0 auto;
}

.monitoring-wrapper + .settings-hint {
	margin-top: 0;
}

.rambox {
	height: 10px;
	width: 10px;
	background-color: #555;
}

.swapbox {
	height: 10px;
	width: 10px;
	background-color: #222;
}

.info {
	font-weight: bold;
}

.smallinfo {
	color: var(--color-text-maxcontrast);
}

.infobox {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	padding: 16px;
	margin: 16px 0;
	background-color: var(--color-main-background);
	border: 2px solid var(--color-border);
	border-radius: var(--border-radius-large);
}

.infobox.cpuSection,
.infobox.memorySection {
    padding: 16px 0 0 0;
}

.diskchart-container {
	width: 100px;
	margin-right: 25px;
	border: 1px var(--color-border);
}

.info-color-label--available::before, .info-color-label--used::before {
	content: '';
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 10px;
	margin-right: 5px;
}
.info-color-label--available::before {
	background-color: var(--color-border-maxcontrast);
}

.info-color-label--used::before {
	background-color: var(--color-primary-element);
}

@media only screen and (max-width: $breakpoint-mobile) {
	.infobox {
		display: block;
		text-align: center;
	}
	.diskchart-container {
		margin: 0 auto;
	}
}

.diskinfo-container {
	flex: 1 0 auto;
}

.infobox h3 {
	font-weight: bold;
	padding: 5px 0 10px 0;
	margin: 0;
}

.infoicon {
	width: 28px;
	float: left;
	padding: 5px;
	filter: var(--background-invert-if-dark);
}

.chart-container {
	position: relative;
	margin: 10px;
}

.clipboardButton {
	display: inline-block;
	position: relative;
	top: 2px;
	margin-left: 5px;
}

/* GRID SYSTEM */

.row {
	display: -webkit-flex;
	display: flex;
	flex: 0 1 auto;
	flex-direction: row;
	flex-wrap: wrap;
	margin-left: -15px;
	margin-right: -15px;
}

.col {
	flex-grow: 1;
	flex-basis: 0;
	max-width: 100%;
	padding-left: 15px;
	padding-right: 15px;
}

.col-1 {
	flex-basis: 8.333%;
	max-width: 8.333%;
	min-width: 8.333%;
}

.col-2 {
	flex-basis: 16.666%;
	max-width: 16.666%;
	min-width: 16.666%;
}

.col-3 {
	flex-basis: 25%;
	max-width: 25%;
	min-width: 25%;
}

.col-4 {
	flex-basis: 33.333%;
	max-width: 33.333%;
	min-width: 33.333%;
}

.col-5 {
	flex-basis: 41.666%;
	max-width: 41.666%;
	min-width: 41.666%;
}

.col-6 {
	flex-basis: 50%;
	max-width: 50%;
	min-width: 50%;
}

.col-7 {
	flex-basis: 58.333%;
	max-width: 58.333%;
	min-width: 58.333%;
}

.col-8 {
	flex-basis: 66.666%;
	max-width: 66.666%;
	min-width: 66.666%;
}

.col-9 {
	flex-basis: 75%;
	max-width: 75%;
	min-width: 75%;
}

.col-10 {
	flex-basis: 83.333%;
	max-width: 83.333%;
	min-width: 83.333%;
}

.col-11 {
	flex-basis: 91.666%;
	max-width: 91.666%;
	min-width: 91.666%;
}

.col-12 {
	flex-basis: 100%;
	max-width: 100%;
	min-width: 100%;
}

/*
@media only screen and (max-width: 1200px) {
	.col-xl-6 {
		flex-basis: 50%;
		max-width: 50%;
		min-width: 50%;
	}
}

@media only screen and (max-width: 1024px) {
	.col-l-6 {
		flex-basis: 50%;
		max-width: 50%;
		min-width: 50%;
	}

	.col-l-12 {
		flex-basis: 100%;
		max-width: 100%;
		min-width: 100%;
	}
}

@media only screen and (max-width: $breakpoint-mobile) {
	.col-m-6 {
		flex-basis: 50%;
		max-width: 50%;
		min-width: 50%;
	}

	.col-m-12 {
		flex-basis: 100%;
		max-width: 100%;
		min-width: 100%;
	}
}
*/

.monitoring-url-params {
	margin-top: 3px;
	margin-bottom: 3px;
}

.monitoring-url-param {
	display: flex;
	align-items: center;
	height: 24px;
}
