<?xml version="1.0" encoding="utf-8"?>
<!--
 - SPDX-FileCopyrightText: 2016 Nextcloud contributors
 - SPDX-License-Identifier: AGPL-3.0-or-later
-->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xsi:noNamespaceSchemaLocation="../vendor-bin/phpunit/vendor/phpunit/phpunit/phpunit.xsd"
		 colors="true"
		 bootstrap="bootstrap.php"
>
	<source>
		<include>
			<directory suffix=".php">../../serverinfo/lib</directory>
		</include>
		<exclude>
			<directory suffix=".php">../../serverinfo/l10n</directory>
			<directory suffix=".php">../../serverinfo/tests</directory>
		</exclude>
	</source>
	<testsuite name="serverinfo tests">
		<directory suffix="Test.php">.</directory>
	</testsuite>
</phpunit>
